header {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
    padding: 20px 0;
}

h1 {
    font-size: 64px;
}

h2 {
    font-size: 22px;
}

hr {
    width: 20%;
}

.navigation_ul {
    list-style: none;
    display: flex;
    gap: 20px;
}

.navigation_a {
    text-decoration: none;
    color: #949494;
    font-family: "Inter", serif;
}

@media (max-width: 768px) {
    hr {
        width: 50%;
    }
}