.preloader {
    background-color: #101010;
    pointer-events: none;
    position: fixed;
    width: 100vw;
    height: 125vh;
    border-bottom-left-radius: 50% 50%;
    border-bottom-right-radius: 50% 50%;
}

main {
    padding: 10vh 30vw;
}

p {
    margin-bottom: 20px;
    text-align: justify;
    line-height: 1.5;
    letter-spacing: 1px;
}

.p_indent {
    text-indent: 70px;
}

.p_author {
    text-align: right;
}

@media (max-width: 768px) {
    main {
        padding: 10vh 20px;
    }
    
    .preloader {
        border-bottom-left-radius: 50% 5%;
    border-bottom-right-radius: 50% 5%;
    }
}