.ph-envelope {
    font-size: 28px;
}

main {
    margin-top: 50px;
}

.message_list_container {
    padding: 0 30vw;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.message_a {
    text-decoration: none;
}

.message_item {
    padding: 20px;
    display: flex;
    align-items: center;
    gap: 20px;
    background-color: #181818;
    border-radius: 10px;
}

.message_p {
    font-family: "Inter", sans-serif;
}

@media (max-width: 768px) {
    .message_list_container {
        padding: 0 20px;
    }
}

footer {
    height: 10vh;
}